{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Products</h1>
    <table class="table table-striped text-center align-middle">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Added At</th>
                <th>Seller</th>
                <th>Ratings</th>
                <th>Actions</th>
                
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description|truncatewords:5 }}</td>
                <td>Rs. {{ product.price }}</td>
                <td>{{ product.stock }}</td>
                <td>{{ product.created_at|date:"M d" }}</td>
                <td>{{product.seller}}</td>
                <td>
                    {% if product.review_count > 0 %}
                         {{ product.avg_rating|floatformat:1 }} ⭐ ({{ product.review_count }})
                    {% else %}
                        No ratings
                    {% endif %}
                </td>
                <td>
                    {% if product.seller.pk == request.user.pk %}
                                 <a href="{{product.get_absolute_url}}" class="btn btn-sm btn-primary">View</a>
                                
            <a href="{% url 'product_update' product.id%}" class="btn btn-sm btn-warning">Update</a>
            <a href="{% url 'product_delete' product.id%}" class="btn btn-sm btn-danger">Delete</a>
            {% else %}
  <a href="{{product.get_absolute_url}}" class="btn btn-sm btn-primary">View</a>                                
            {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7" class="text-center">No products available</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}